@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background60: #FEFAE0;
  --background30: #DDA15E;
  --background10: #BC6C25;
  --textColor: #283618;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: black;
  background: var(--background);
  font-family: 'PT_Sans', sans-serif;
}

